<!DOCTYPE html>
<html>
<head>
  <title>
    Log In to Ecstasy
  </title>
</head>
<body>
<h2>Login</h2>
<br>
<form method="post">
  <table>
    <tbody>
      <tr>
        <td><label>Username</label></td>
        <td><input type="text" name="username" value="{{username}}"></td>
      </tr>
      <tr>
        <td><label>Password</label></td>
        <td><input type="password" name="password"></td>
      </tr>
      {% if login_error %}
      <tr>
        <td>
            <label style="color: red">Invalid Login</label>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <input type="submit">
</form>
<form action="/signup">
  <input type="submit" value="New User? Please sign up here" />
</form>
</body>
</html>
