{% extends "base.html" %}

{% block content %}
<h2>Login</h2>
<br>
<form method="post">
  <label>Username :
    <input type="text" name="username" value="{{username}}">
    <label class="error">{{username_error}}</label>
  </label>
  <label>Password :
    <input type="password" name="password">
    <label class="error">
    {% if login_error %}
    Invalid Login
    {% endif %}
    </label>
  </label>
  <br>
  <input type="submit">
</form>
<br>
<form action="/signup">
  <input type="submit" value="New User? Please sign up here" />
</form>
{% endblock %}
