{% extends "base.html" %}

{% block content %}
<h2>Signup</h2>
<br>
<form method="post">
  <label>Username :
    <input type="text" name="username" value="{{username}}">
    <label class="error">{{username_error}}</label>
  </label>
  <label>Password :
    <input type="password" name="password">
    <label class="error">
    {% if password_error %}
    That wasn't a valid password.
    {% endif %}
    </label>
  </label>
  <label>Verify Password :
    <input type="password" name="verify">
    <label class="error">{% if verify_error %}Your passwords didn't match.{% endif %}</label>
  </label>
  <label>Email (optional)
    <input type="text" name="email" value="{{email}}">
    <label class="error">
    {% if email_error %}
    That's not a valid email.
    {% endif %}
    </label>
  </label>
  <br>
  <input type="submit">
</form>
<br>
<form action="/login">
  <input type="submit" value="Already a user? Sign In" />
</form>
{% endblock %}
